* {
  margin: 0;
  padding: 0;
  background-color: rgb(7, 1, 25);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  /* #131901 */
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 30rem; */
}

.logo {
  /* margin-top: 10px;
  margin-left: -10px; */
}

.Nav-Contents {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  display: flex;
  list-style: none;
  gap: 6rem;
}

.nav-btn {
  color: black;
  background-color: rgb(194, 110, 220);
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 25px;
  position: relative;
  bottom: 10px;
  left: -10px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-btn:hover {
  background-color: white;
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.hovering:hover {
  color: rgb(194, 110, 220);
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.Search input {
  color: white;
  font-size: larger;
  width: 900px;
  height: 50px;
  margin: 5px 320px;
  padding-left: 30px;
  border: 1.5px solid rgb(112, 111, 111);
  border-radius: 30px;
}

.Search input::placeholder {
  padding-left: 30%;
}
.Search input:hover {
  border: 1.5px solid rgb(194, 110, 220);
}

.SearchBtn {
  color: white;
  font-size: large;
  position: relative;
  left: 1290px;
  bottom: 45px;
  padding: 5px 20px;
  border-radius: 30px;
  /* padding: 30px; */
}

.Res-Container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 140px;
}

.Res-Card {
  width: 270px;
  height: 390px;
  color: white;
  border: 1.8px solid rgb(112, 111, 111);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.Res-Card:hover {
  border: 1.8px solid rgb(194, 110, 220);
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.Res-Card img {
  width: 95%;
  height: 55%;
  object-fit: cover;
  border-radius: 20px;
}

.res-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 200px;
}

.Top-Rated {
  color: white;
  padding: 5px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.HTL {
  color: white;
  padding: 5px;
  border-radius: 20px;
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
}

.Shim-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 140px;
  margin-top: 135px;
}
.shim-card {
  width: 270px;
  height: 390px;
  color: white;
  background-color: rgb(65, 65, 65);
  border: 1.8px solid rgb(112, 111, 111);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.shim-img {
  background-color: rgb(94, 94, 94);
  width: 95%;
  height: 55%;
  border-radius: 20px;
  animation: changeColor 4s linear infinite;
}

@keyframes changeColor {
  0% {
    background-color: rgb(122, 122, 122); /* Starting color (red) */
  }

  100% {
    background-color: #242424; /* Ending color (green) */
  }
}

.About-comp {
  color: white;
  /* padding: 50px; */
}
.About-h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.About-p {
  font-size: larger;
  padding: 50px;
}
.navbtn {
  text-decoration: none;
  color: white;
}
.contactbtn {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  padding: 0px 40%;
  padding-top: 20px;
}
.error {
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 20%);
}

.menu {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.limkk {
  text-decoration: none;
}





.TeamClass {
  /* width: 250px; */
  /* height: 220px; */
  border: 2px solid rgb(80, 80, 80);
  border-radius: 10px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.TeamClass > * {
  padding: 10px;
  border-radius: 10px;
}

.TeamBtn{
  color: white;
  margin-left: 10px;
  padding: 5px;
  background-color: purple;
}

.Online{
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
}

.grocery{
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform:translate(-50%,40%)
}